{% load static %}



<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">About Us</h2>
            <p>تاریخچه مجموعه کاردیتو مجموع کاردیتو به عنوان اولین مجموعه دیتیلینگ و کاور خودرو از سال ۹۵ مشغول به کار است تاکنون بیش از ۱۵۰ کاور و ۴۰۰ سرامیک خودرو در سوابق خود دارد و تاکنون باتجربه ترین مجموعه در کرمان میباشد نام کاردیتو معنی کاردیتو ریشه در زبان پارسی و به معنی باتحربه در کار است</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
       
        <div class="col-md">
           <div class="ftco-footer-widget mb-4 text-center">
            <h2 class="ftco-heading-2">Quick Access</h2>
            <ul class="list-unstyled">
              <li><a href="{% url 'projects:projects' %}" class="py-2 d-block">Projects</a></li>
            
              <li><a href="{% url 'about:about' %}" class="py-2 d-block">About</a></li>
              <li><a href="{% url 'contact:contact' %}" class="py-2 d-block">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">کرمان خیابان علی ضیا روبروی کوچه ۱</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+98 9378578987</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>


 